/****************************
 * OBJECTS - WRAPPERS
 ****************************/

.o-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--gutter-half);
  padding-right: var(--gutter-half);
}

.o-wrapper--xsmall {
  max-width: var(--wrapper-xsmall);
}

.o-wrapper--small {
  max-width: var(--wrapper-small);
}

.o-wrapper--standard {
  max-width: var(--wrapper-standard);
}

.o-wrapper--large {
  max-width: var(--wrapper-large);
}

.o-title {
  text-align: center;
  font-size: 30px;
  padding: 35px 15px 15px 15px;
}

.o-ui-list {
  list-style: none;
  padding: 0;
  margin: 0;
}